* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-wrap: hidden;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: url("02-34-11-741_512.gif");
    overflow: hidden;
}

h1{
    margin-top: 25vh;
    margin-left: 36vw;
    color: aliceblue;
    font-family: "Shadows Into Light", cursive;
    font-size: 90px;
    font-weight: lighter;
}

a{
    text-decoration: none;
    color: white;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    opacity: 0;
    pointer-events: none; 
    transition: opacity 1.5s ease-in-out;
}

#circle {
    margin-top: 5vh;
    margin-left: 47vw;
    background-color: black(0, 0%, 100%);
    border: 2px solid white;    
    height: 60px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

#circle:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.5);
    border: 3px solid white;
}

#owen {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: aliceblue;
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
    font-weight: lighter;
    transition: 0.5s;
    z-index: 10;
}

#owen:hover {
    font-size: 35px;
}

#spherical {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: aliceblue;
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
    font-weight: lighter;
    transition: 0.5s;
    z-index: 10;
}

#spherical:hover {
    font-size: 35px;
}

#celestial {
    position: fixed;
    bottom: 60px;
    right: 20px;
    color: aliceblue;
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
    font-weight: lighter;
    transition: 0.5s;
    z-index: 10;
}

#celestial:hover {
    font-size: 35px;
}
